
#about-me {
  border: 2pt solid black;
  background-color: lightcoral;
}

#name {
  font-weight: bold;
  font-family: 'Times New Roman', sans-serif;
  font-size: 13pt;
  text-align: left;
}

#profile-picture {
  margin-left: -90px;
  width: 140pt;
  height: 130pt;
  float: right;
}

#description {
  font-family: sans-serif;
  color: blue;
}


#education-table {
  border-spacing: 10pt;
  background-color: lightblue;
}

#education-table th {
  text-decoration: underline;
}

#education-table td {
  padding: 10pt;
}

#education-table td:nth-child(2) {
  text-align: center;
}

.spring-semester, .autumn-semester {
  display: inline-block;
  width: 45%;
  margin: 2%;
}

.spring-semester {
  background-color: green;
  border: 3pt solid black;
}

.autumn-semester {
  background-color: lightpink;
  border: 3pt solid black;
}

.spring-semester a:link {
  color: blue;
}

.spring-semester a:visited {
  color: gray;
}

.spring-semester a:active {
  color: pink;
}

.spring-semester a:hover {
  color: green;
}

.autumn-semester ol {
  list-style-type: lower-roman;
}




.body1 {
  background-image: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=600');

}
 
